<div class="row">

  <div class="form-group col-md-6">
    <label for="nomeInput">Nome</label>
    <input type="text" class="form-control" id="nomeInput" #nomeInput>
  </div>

  <div class="form-group col-md-6 mb-2">
    <label for="idadeInput">Idade</label>
    <input type="text" class="form-control" id="idadeInput" #idadeInput>
  </div>

</div>

<div class="row">
  <button class="btn btn-primary btn-block mt-3" (click)="adicionar(nomeInput.value, idadeInput.value)">
    Cadastrar
  </button>
</div>
